@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.background-container {
    background-color: white;
    height: 100vh;
    width: 70vh;

}

.bottom-section {
    padding: 20px;
}

.about-text {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.para {
    font-size: 15px;
    font-family: "Roboto";
    color: #9aa5b1;
    width: 350px;
}

.more-pictures-text {
    font-size: 20px;
    font-family: "Roboto";
}

.image-padding {
    padding: 8px;
}

.videos-text {
    font-family: "Roboto";
    font-size: 20px;
}

.videos {
    padding: 8px;
}

.embed-responsive-item {
    width: 20vh;
    height: 20vh;
    border-radius: 20px;

}